<script lang="ts">
    import App from "nebulous-svelte-ui"
    import { ready } from "./ipc"

    let maybeBackendInterfacePromise = ready()
</script>

<div class="container">
    {#await maybeBackendInterfacePromise then maybeBackendInterface}
        {#if maybeBackendInterface !== null}
            <App
                backendInterface={maybeBackendInterface}
                htmlEntities={{
                    settings: "&#xef3a;",
                    docs: "&#xef65;",
                    logs: "&#xeef0;",
                }}
            />
        {/if}
    {/await}
</div>

<style>
    .container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
</style>
